
// --------------------------------------------------------------------------
// General
// --------------------------------------------------------------------------

/*! purgecss start ignore */
html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Change the default tap highlight to be completely transparent in iOS
   text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in iOS
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

input:required { box-shadow: none; }
input:invalid { box-shadow: none; }


// --------------------------------------------------------------------------
// Text-level semantics
// --------------------------------------------------------------------------

a {
   color: inherit;
   text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-weight: normal;
}

b,
strong {
   font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

ol,
dl,
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
   margin-bottom: 0;
}

abbr[title] {
   text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
   text-decoration: underline dotted;
   text-decoration: underline dotted; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
   border-bottom: 0; // Remove the bottom border in Chrome 57-
}

small {
   font-size: 80%;
}


// Prevent sub and sup elements from affecting the line height in all browsers
sub,
sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}


pre,
code,
kbd,
samp {
   font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


// --------------------------------------------------------------------------
//  Media and embed content
// --------------------------------------------------------------------------


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
   display: block;
}

iframe {
   height: 100%;
   width: 100%;
}

img,
figure,
video {
   max-width: 100%;
   height: auto;
}

// --------------------------------------------------------------------------
//  time
// --------------------------------------------------------------------------

time {
   display: block;
}

// --------------------------------------------------------------------------
//  Tables
// --------------------------------------------------------------------------

table {
   border-collapse: collapse; // Prevent double borders
}


// --------------------------------------------------------------------------
// Forms and buttons
// --------------------------------------------------------------------------

button {
   // stylelint-disable-next-line property-blacklist
   border-radius: 0;
   appearance: none;
   border: 0;
   background: none;
   color: inherit;
   cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
   margin: 0; // Remove the margin in Firefox and Safari
   font-family: inherit; // Change the font styles in all browsers
   font-size: 100%;
   line-height: inherit;
}

button,
input { // Show the overflow in Edge
   overflow: visible;
}

button,
select { // Remove the inheritance of text transform in Edge and Firefox
   text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   appearance: button; // Correct the inability to style clickable types in iOS and Safari
}

fieldset {
   padding: 0; // Correct the padding in Firefox
   border: 0;
}

textarea {
   overflow: auto; // Remove the default vertical scrollbar in IE 10+
}

/*
  1. Correct the text wrapping in Edge and IE.
  2. Correct the color inheritance from fieldset elements in IE.
  3. Remove the padding so developers are not caught out when they zero out fieldset elements in all browsers.
*/
legend {
   box-sizing: border-box; // 1
   display: table; // 1
   max-width: 100%; // 1
   padding: 0; // 3
   color: inherit; // 2
   white-space: normal; // 1
}

progress {
   vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto; // Correct the cursor style of increment and decrement buttons in Chrome
}


[type="search"] {
   appearance: textfield; // Correct the odd appearance in Chrome and Safari
   outline-offset: -2px; // Correct the outline style in Safari
}


[type="search"]::-webkit-search-decoration {
   appearance: none; // Remove the inner padding in Chrome and Safari on macOS
}

::-webkit-file-upload-button {
   appearance: button; // Correct the inability to style clickable types in iOS and Safari
   font: inherit; // Change font properties to inherit in Safari
}
/*! purgecss end ignore */