
@use "variables" as _variables;
@use "sass:map";

// --------------------------------------------------------------------------
//  Mixins - colors - scoped to this module to generate utility classes
// --------------------------------------------------------------------------

@mixin s-colors($colors, $class-prefix, $property) {
   @each $color-group, $color-value in $colors {
      // generate utilities classes only for unested variables
      .#{$class-prefix}-#{$color-group} {
         #{$property}: var(--#{$color-group});
      }
   }
}

// --------------------------------------------------------------------------
//  Classes
// --------------------------------------------------------------------------

@if _variables.$s-colors {
   @include s-colors(_variables.$s-colors, "bg", "background-color" );
   @include s-colors(_variables.$s-colors, "color", "color" );  
}
