// --------------------------------------------------------------------------
//  Mixin - Object-fit
// --------------------------------------------------------------------------

@mixin object-fit($fit: cover, $position: null) {
   width: 100%;
   height: 100%;
   object-fit: $fit;
   @if $position {
      object-position: $position;
   }
}
