
// ---------------------------------------------------------------------------------------
//  Default variables - All variables are in this file to allow easy override with @forward
// ---------------------------------------------------------------------------------------

// an xs breakpoint with a value of 0 is needed for mixins (no media query are printed)
$s-breakpoints: ( "xs": 0,) !default;
$s-responsive-prefix-separator: ":" !default;
$s-colors: null !default;
$s-font-families: null !default;
$s-body-size: null !default;
$s-html-size: null !default;
$s-button-height: null !default;
$s-font-weights: null !default;
$s-spacing-fractions: null !default;
$s-spacing-values: null !default;
$s-grid-cols-number: null !default;
$s-grid-rows-number: null !default;
$s-grid-flow: null !default; 
$s-ratios: null !default;
$s-aspect-ratios: null !default;
$s-screen-readers: null !default;
$s-displays: null !default;
$s-custom-classes: null !default;

// legacy
$s-positions: null !default;
$s-flex-direction: null !default;
$s-justify-content: null !default;
$s-align-items: null !default;
$s-text-align: null !default;
$s-text-transform: null !default;
$s-text-decoration: null !default;